

<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
<!-- for boostrap applications -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }
  </style>			
<!-- link to main stylesheet -->
  <link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href= "/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/projects">Projects</a></li>
	        		<li><a href= "https://medium.com/sharelife">Research</a></li>
	        		<li><a href="https://www.youtube.com">Channel</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:sharelifekorea@gmail.com">email us</a></li>
	        		<li><a href="https://github.com/sharelifekorea">sharelifekorea.github.io</a></li>
				<li><a href="https://www.facebook.com/ShareLifeGroup">facebook</a></li>
				<li><a href="https://www.instagram.com/sharelifekorea/">instagram</a></li>
				</ul>
				<center> Copyright © Sharelifekorea 2017 </center>
			</footer>
		</body>
	</html>
